/* Global Styles for Light and Dark Mode */

html,
body,
#root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    /* Global font style */
}


/* Light Mode */

body.light {
    background-color: #ffffff;
    color: #000000;
    background-image: url('/cryptoLight.jpg');
    background-size: cover;
    background-attachment: fixed;
    animation: lightModeAnimation 10s infinite alternate;
}

@keyframes lightModeAnimation {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}


/* Dark Mode */

body.dark {
    background-color: #121212;
    color: #ffffff;
    background-image: url('/cryptoDark.jpg');
    background-size: cover;
    background-attachment: fixed;
    animation: darkModeAnimation 10s infinite alternate;
}

@keyframes darkModeAnimation {
    0% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}


/* Button Styling for Light Mode */

body.light button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 12px 24px;
    margin: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

body.light button:hover {
    background-color: #2980b9;
    transform: translateY(-3px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}


/* Button Styling for Dark Mode */

body.dark button {
    background-color: #bb86fc;
    color: black;
    border: none;
    padding: 12px 24px;
    margin: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
}

body.dark button:hover {
    background-color: #9b6ee4;
    transform: translateY(-3px);
    box-shadow: 0 6px 8px rgba(255, 255, 255, 0.2);
}


/* h1 Styling for Light Mode */

body.light h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}


/* h1 Styling for Dark Mode */

body.dark h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.2);
}


/* p Styling for Light Mode */

body.light p {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #333333;
    text-align: center;
    margin-bottom: 15px;
}


/* p Styling for Dark Mode */

body.dark p {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #dddddd;
    text-align: center;
    margin-bottom: 15px;
}
